.todo-item {
    min-width: 250px;
    max-width: 400px;
    list-style: none;
    height: 60px;
}

h1 {
    color: #98FB98;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

header {
    margin: 30px;
}

.toggle:checked + span {
    text-decoration: line-through;
    color: #ccc;
}