<div class="container-fluid">
  <section class="todoapp">
    <header class="header">
      <h1>Two Do</h1>
    </header>
    
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">

    <section class="main" *ngIf="todos.length > 0">
      <ul class="todo-list">
        <li class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.complete">
          <div class="view">
            <label>
              <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
              <span>{{todo.title}}</span>
            </label>
            <button class="btn btn-danger pull-right" (click)="removeTodo(todo)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <hr>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}</span>
    </footer>
  </section>
</div>